# Security Headers (only if mod_headers is available)
<IfModule mod_headers.c>
    # Header X-Frame-Options
    Header set X-Frame-Options "SAMEORIGIN"
    
    # Header X-Content-Type-Options
    Header always set X-Content-Type-Options "nosniff"
    
    # Header Feature-Policy
    Header always set Feature-Policy "geolocation 'self'; microphone 'none'; camera 'none'"
    
    # Header Content-Security-Policy (CSP)
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self';"
</IfModule>

# Fitxategi dinamikoetarako cachea desgaitu
<IfModule mod_headers.c>
<FilesMatch "\.(php)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate, private"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>
</IfModule>


RewriteEngine On

# /index edo /index.php-ra sartzen bada, /-era birbideratu
RewriteCond %{THE_REQUEST} /index(\.php)? [NC]
RewriteRule ^index(\.php)?$ / [R=301,L]

# Beste PHP fitxategien luzapena ezkutatu (.php ez ikusi URL-an)
RewriteCond %{THE_REQUEST} \s/([^\s]+?)\.php[?\s] [NC]
RewriteRule ^ /%1 [R=301,L]

# URL garbiak .php fitxategietara birbideratu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
